form a{
    margin-left: 5px;
}

.text-xs-right{
    margin-top: 10px;
}

.btn-danger.pull-xs-right{
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn-primary{
    margin-top: 10px;
    margin-bottom: 20px;
}
#cancel{
    margin-top: 10px;
    margin-bottom: 20px;
}
#content{
    height: 200px;
    max-height: 250px;
}
#content-show, #categories-show, #title-show{
    margin-bottom: 20px;
}
